PORT=3000

# Database
DB_HOST=mysql
DB_HOST_SEQUELIZE=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=auth_service
DB_PORT=3306 

# jwt
JWT_SECRET=your_secret
JWT_SECRET_REFRESH=your_refresh_secret

# Redis
REDIS_HOST=auth-redis
REDIS_PORT=6379

# kafka
KAFKA_BROKER=kafka:9092